@font-face {
	font-family: 'Conv_fre3of9x';
	src: url('fonts/fre3of9x.eot');
	src: url('fonts/fre3of9x.woff') format('woff'), url('fonts/fre3of9x.ttf') format('truetype'), url('fonts/fre3of9x.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
